@import "../../Components/breakPoints.scss";
.cart {
  width: 100%;
  margin: 2em 0;
  .container {
    .cart-wrapper {
      width: 80%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 5em;
      @include breakPoints(mobile) {
        flex-direction: column;
        width: 95%;
      }
      img {
        width: 40%;
        @include breakPoints(mobile) {
          width: 100%;
        }
      }
      .form-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
        gap: 2em;
        @include breakPoints(mobile) {
          flex-direction: column;
        }
        form {
          width: 100%;
          display: flex;
          flex-direction: column;
          @include breakPoints(mobile) {
            width: 100%;
          }
          input,
          textarea {
            border: none;
            outline: none;
            background-color: rgb(230, 230, 230);
            padding: 0.5em 1em;
            margin-bottom: 0.5em;
            border-radius: 30px;
            color: var(--main-color);
            font-size: 1.2em;
            resize: none;
          }
          input[type="tel"] {
            direction: rtl;
          }
          select {
            width: 100%;
            margin-bottom: 0.5em;
            border: none;
            outline: none;
            background-color: rgb(230, 230, 230);
            padding: 0.5em 1em;
            margin-bottom: 0.5em;
            border-radius: 30px;
            color: var(--main-color);
            font-size: 1.2em;
            option {
              color: var(--sub-color);
            }
          }
          .choose-inputs {
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 0.5em;

            input {
              width: 100%;
            }
          }
          .buttons {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5em;
            button {
              display: flex;
              align-items: center;
              justify-content: center;
              svg {
                margin-left: 1em;
              }
            }
            button:nth-of-type(2) {
              background-color: var(--light-color);
              color: var(--dark-color);

              &:hover {
                background-color: var(--sub-color);
                color: var(--light-color);
              }
            }
          }
        }

        .added-to-cart {
          // background-color: var(--sub-color);
          color: var(--light-color);
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          h3 {
            color: var(--main-color);
          }
          ul {
            color: var(--sub-color);
          }
        }

        .add-product {
          background-color: var(--sub-color);
          color: var(--light-color);
          svg {
            margin-left: 1em;
          }
          &:hover {
            background-color: var(--dark-color);
          }
        }
      }
    }
  }
}
